/*
	swarm.rc
	Swarm saver module resource script file v 1.0   18 / 2 / 94
	(C) 1994 Toniolo Emanuele
*/

#include <os2.h>
#include "swarm.h"

POINTER IDR_ICON "swarm.ico"

STRINGTABLE 
BEGIN
	IDS_MODULENAME, "Swarm"
END

DLGTEMPLATE IDD_CONFIGURE 
BEGIN
	DIALOG "Module configuration", IDD_CONFIGURE, 15, 134, 171, 161, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_COUNT, 115, 101, 46, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_TABSTOP
		LTEXT "Number of bees.", -1, 8, 103, 106, 8, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | NOT WS_GROUP
		LTEXT "ScreenSaver module", -1, 59, 140, 84, 7, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		DEFPUSHBUTTON "OK", IDC_OK, 6, 2, 40, 14
		PUSHBUTTON "Cancel", IDC_CANCEL, 57, 2, 40, 14
		AUTOCHECKBOX "Module enabled", IDC_ENABLED, 6, 23, 82, 10
		ICON IDR_ICON, -1, 8, 137, 20, 16
		CONTROL "Swarm v 1.0", -1, 51, 148, 100, 10, WC_STATIC, SS_TEXT | DT_VCENTER | DT_CENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "18.Times New Roman Italic"
PRESPARAMS PP_FOREGROUNDCOLOR , 0xc80000L
		CONTROL "(C) 1994 Toniolo Emanuele", -1, 40, 130, 123, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", IDC_BEE_ACCEL, 115, 71, 46, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", IDC_BEE_MAX_VEL, 115, 86, 46, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Max. bees velocity.", 103, 8, 88, 106, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Max. bees acceleration.", 104, 8, 73, 106, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", IDC_WASP_ACCEL, 115, 41, 46, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", IDC_WASP_MAX_VEL, 115, 56, 46, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Max. wasp velocity.", 107, 8, 58, 106, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Max. wasp acceleration.", 108, 8, 43, 106, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 101, 4, 37, 162, 84, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Default", IDC_DEFAULT, 108, 2, 57, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "email: floppy@maya.dei.unipd.it", 102, 40, 120, 122, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Times New Roman"
	END

END
