/*
	polylines.rc
	Polylines saver module resource script file
	(C) 1993 Toniolo Emanuele
*/

#include <os2.h>
#include "hapalong.h"

POINTER IDR_ICON "hapalong.ico"

STRINGTABLE 
BEGIN
	IDS_MODULENAME, "Hopalong"
END

DLGTEMPLATE IDD_CONFIGURE 
BEGIN
	DIALOG "Module configuration", IDD_CONFIGURE, 26, 92, 171, 101, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_COUNT, 94, 46, 65, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_TABSTOP
		LTEXT "Number of points.", -1, 11, 48, 80, 9, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | NOT WS_GROUP
		LTEXT "ScreenSaver module", -1, 59, 82, 84, 7, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		DEFPUSHBUTTON "OK", IDC_OK, 5, 2, 40, 14
		PUSHBUTTON "Cancel", IDC_CANCEL, 57, 2, 40, 14
		AUTOCHECKBOX "Module enabled", IDC_ENABLED, 5, 22, 82, 10
		ICON IDR_ICON, -1, 7, 79, 20, 16
		CONTROL "Hopalong", -1, 79, 90, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "(C) 1994 Toniolo Emanuele", -1, 40, 72, 123, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", -1, 4, 38, 163, 33, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
	END

END
