/*
	flame.rc
	Flame saver module resource script file v 1.0   19 / 2 / 94
	(C) 1994 Toniolo Emanuele
*/

#include <os2.h>
#include "flame.h"

POINTER IDR_ICON "flame.ico"

STRINGTABLE 
BEGIN
	IDS_MODULENAME, "Flame"
END

DLGTEMPLATE IDD_CONFIGURE 
BEGIN
	DIALOG "Module configuration", IDD_CONFIGURE, 26, 92, 171, 101, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_COUNT, 101, 46, 51, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_TABSTOP
		LTEXT "Number of levels.", -1, 11, 48, 80, 9, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | NOT WS_GROUP
		LTEXT "ScreenSaver module", -1, 59, 82, 84, 7, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		DEFPUSHBUTTON "OK", IDC_OK, 5, 2, 40, 14
		PUSHBUTTON "Cancel", IDC_CANCEL, 57, 2, 40, 14
		AUTOCHECKBOX "Module enabled", IDC_ENABLED, 5, 22, 82, 10
		ICON IDR_ICON, -1, 7, 79, 20, 16
		CONTROL "Flame v 1.0", -1, 63, 90, 76, 8, WC_STATIC, SS_TEXT | DT_VCENTER | DT_CENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "(C) 1994 Toniolo Emanuele", -1, 40, 72, 123, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", -1, 4, 38, 163, 33, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
	END

END
