/*
	polylines.rc
	Polylines saver module resource script file
	(C) 1993 Toniolo Emanuele
*/

#include <os2.h>
#include "polyline.h"

ICON	IDR_ICON	"polyline.ico"

STRINGTABLE
{
	IDS_MODULENAME	"Polylines"
}

DLGTEMPLATE IDD_CONFIGURE 
BEGIN
	DIALOG "Module configuration", IDD_CONFIGURE, 26, 47, 171, 146, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_COUNT, 24, 84, 40, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_TABSTOP
		CONTROL "", IDC_SIDE, 105, 84, 40, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
		CONTROL "Closed polylines.", IDC_CLOSE, 43, 42, 85, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
		LTEXT "Number of lines.", -1, 10, 98, 69, 9, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		LTEXT "ScreenSaver module", -1, 59, 127, 84, 7, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | NOT WS_GROUP
		DEFPUSHBUTTON "OK", IDC_OK, 6, 2, 40, 14
		PUSHBUTTON "Cancel", IDC_CANCEL, 58, 2, 40, 14
		AUTOCHECKBOX "Module enabled", IDC_ENABLED, 6, 22, 82, 10
		ICON IDR_ICON, -1, 7, 124, 20, 16
		CONTROL "Polylines", -1, 79, 135, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "(C) 1993 Toniolo Emanuele", -1, 40, 117, 123, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Number of sides.", -1, 90, 98, 70, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", -1, 4, 36, 163, 80, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Type of line.", -1, 13, 63, 61, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", IDC_TYPE, 95, 40, 60, 33, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END
